*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    scroll-behavior: smooth;
}
body{
    background-color: rgba(241, 238, 238, 0.932);
}
html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 80px;

}
.img1 {
    width: 65px;
    height: 80px;
    
}
.logo {
    color: rgb(0, 75, 215);
    text-transform: capitalize;
    position: absolute;
    margin-top: 20px;
    font-size: 27px;
    cursor: pointer;
}
span {
    color: rgb(255, 157, 0);
}
.a {
  color: rgb(7, 7, 7);
  padding: 15px;
  transition: 0.5s;
}
.a:hover{
    background-color: rgb(70, 21, 247);
    color: beige;
}
.a:active{
    color: azure;
    background-color: black;
}
.accueil {
    color: rgb(255, 149, 0);
}
nav {
   left: 0;
   width: 100%;
   top: 0;
   right: 0;
   position: fixed;
   padding-left:0;
   box-shadow: 0.8px 0.5px 12px rgb(189, 189, 217);
   background-color:white;
   z-index: 1000;
}
header{
   display: grid;
   grid-template-columns: 1fr 3fr 1fr;
   flex-direction: row;
   width: 100%;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-right: 25px;
}
.user{
    color: black;
}
.icon1{
    padding-left:10px;
    font-size: x-large;
    cursor: pointer;
}
.icon1:hover{
    color: rgb(155, 82, 154);
}
.input{
    font-size: large;
    border-style: unset ;
    padding: 4px;
}
#search-btn{
    display: none;
    font-size: x-large;
    
}
.orange{
    color: rgb(250, 149, 7);
}
.bottom-navbar{
    text-align: center;
    background-color: rgba(4, 74, 194, 0.81);
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    transition: 0.5s;
    z-index: 10000;
}
.bottom-navbar a{
    font-size: 25px;
    padding: 10px 20px 10px;
    color: rgb(201, 200, 200);
}
.bottom-navbar a:hover{
    background-color: rgba(0, 68, 255, 0.695);
}
.bottom-navbar a:active{
    color: rgb(223, 221, 221);
    background-color: black;
}
.bg {
   background-image:url(../photo/zz.jpg);
   background-size: cover;
   height: 750px;
   width: 100%;
   display: flex;
   justify-content:center;
   align-items: center;
}
.p{
    margin-left: -500px;
    margin-bottom: 30px;
    color: rgb(8, 8, 8);
    font-size: 42px;
    width: 38%;
}
.btn {
    padding: 15px 30px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    color: rgb(233, 222, 222);
    border: none;
}
.btn1 {
    background-color: rgb(226, 164, 6);
    transition: 0.5s;
    
}
.btn1:hover{
    letter-spacing:4px;
    transition: 0.5s;
}
.btn2 {
    background-color: rgb(24, 24, 107);
    transition: 0.5s;
}
.btn2:hover{
    letter-spacing: 3px;
    transition: 0.5s;
}
.btn4{
    margin-top: 12px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 12px 25px;
    font-size:14px;
    border: 1.5px solid rgba(12, 12, 12, 0.888);
    border-radius: 7px;
    cursor: pointer;
    background: none;
    color: rgba(26, 25, 25, 0.929);
}
.btn4:hover{
    background-color: rgba(238, 155, 1, 0.903);
}
.features{
    padding: 32px 9%;
}
.heading{
    text-align: center;
    padding: 32px 0;
    padding-bottom: 40px;
    font-size: 48px;
    color: rgba(18, 17, 17, 0.888);
}
.heading span{
    background-color: rgba(247, 150, 5, 0.944);
    color: rgb(251, 251, 251);
    padding:7px 25px ;
    font-size: 38px;
    display: inline-block;
    clip-path:polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
    gap:22px;
}

.features .box-container .box{
    display: inline-block;
    width: 400px;
    padding: 20px 0px;
    background-color: rgb(243, 243, 243);
    outline: 2px solid rgba(170, 168, 168, 0.862);
    outline-offset: -15px;
    text-align: center;
    box-shadow:0px 5px 14px rgba(24, 24, 24, 0.771);
    transition: 0.3s linear;
}
.features .box-container .box:hover{
    outline:2px solid rgba(19, 19, 19, 0.945); 
    outline-offset: 0px;
}
.features .box-container .box img{
    margin: 12px 0;
    height: 150px;
    width: 220px;
}
.features .box-container .box h3{
    font-size: 30px;
    line-height: 1.7;
    color: rgba(16, 16, 16, 0.936);
}
.features .box-container .box p{
    font-size: 18px;
    line-height: 1.7;
    color:grey;
    padding: 12px 0;
}
.newletter{
    background: url(../photo/l.jpg) no-repeat;
    background-size:cover ;
    background-position:center ;
    background-attachment: fixed;
}
.newletter form{
    max-width: 600px;
    margin-left: auto;
    text-align: center;
    padding: 50px 0;
}
.newletter form h3{
    font-size: 25px;
    padding-bottom: 8px;
   color: rgba(21, 20, 20, 0.956);
   font-weight: normal;
}
.newletter form .box{
    margin: 12px 0px;
    width: 85%;
    padding: 10px 25px ;
    font-size: 18px;
    color: rgba(13, 13, 13, 0.87);
    border-radius: 5px;
    text-transform: none;
}
.products .product-slider{
    padding: 15px 150px;
    padding-bottom: 20px;
}
.products .product-slider:first-child{
    margin-bottom: 28px;
}
.products .product-slider .box{
    padding: 30px 20px;
    border-radius: 5px;
    background-color: rgb(245, 246, 247);
    outline-offset: -12px;
    outline: 2px solid rgba(170, 168, 168, 0.862);
    box-shadow:0px 5px 14px rgba(24, 24, 24, 0.771);
    text-align: center;
    transition: 0.3s linear;
}
.products .product-slider .box:hover{
    outline-offset: 0px;
    outline: 2px solid rgba(170, 168, 168, 0.862);
}
.products .product-slider .box img{
    height: 200px;
    width: 270px;
    transition: 0.3s;
}
.products .product-slider .box h3{
    font-size: 25px;
    color: rgba(20, 20, 20, 0.893);
}
.products .product-slider .box .price{
    font-size: 18px;
    color: gray;
    padding: 6px 0;
}
.products .product-slider .box .stars i{
    font-size: 16px;
    color: rgba(234, 158, 18, 0.881);
    padding: 6px 0;
}
.review .reviews-slider{
    padding: 18px 150px;
}
.review .reviews-slider .box{
    padding: 30px 20px;
    border-radius: 5px;
    background-color: rgb(245, 246, 247);
    outline-offset: -12px;
    outline: 2px solid rgba(170, 168, 168, 0.862);
    box-shadow:0px 5px 14px rgba(24, 24, 24, 0.771);
    text-align: center;
    transition: 0.3s linear;
}
.review .reviews-slider .box:hover{
    outline-offset: 0px;
    outline: 2px solid rgba(170, 168, 168, 0.862);
}
.review .reviews-slider .box img{
    height: 180px;
    width: 240px;
    border-radius: 50%;
}
.review .reviews-slider .box h3{
    font-size: 22px;
    padding: 10px 0;
    color: rgba(11, 11, 11, 0.879);
}
.review .reviews-slider .box p{
    line-height: 1.8;
    padding: 12px 0;
    color: rgba(128, 128, 128, 0.892);
    font-size: 15px;
}
.review .reviews-slider .box .stars i{
    font-size: 16px;
    color: rgba(234, 158, 18, 0.881);
    padding: 6px 0;
}
.footer{
    background-color: rgb(251, 251, 252);
    padding-top: 70px;
}
.footer .box-container{
    padding: 0px 150px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
    gap: 15px;
}
.footer .box-container .box .move{
    margin-right:180px ;
}
.footer .box-container .box h3{
    font-size: 20px;
    color: rgba(21, 21, 21, 0.907);
    padding: 12px 0;
}
.footer .box-container .box h3 i{
    color: rgba(237, 160, 15, 0.879);
}
.footer .box-container .box .links{
    display: block;
    padding: 12px 0;
    font-size: 14px;
    color: rgba(128, 128, 128, 0.86);
}
.footer .box-container .box .links i{
   color: rgba(236, 158, 14, 0.878);
   padding-right: 6px;
}
.footer .box-container .box .links:hover i{
    padding-right: 14px;
 }
.footer .box-container .box p{
    line-height: 1.8;
    padding: 12px 0;
    font-size: 14px;
    color: rgba(128, 128, 128, 0.86);
}
.footer .box-container .box .share a{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 5px;
    font-size: 20px;
    color: rgba(21, 20, 20, 0.868);
    margin-left: 18px;
    background-color: rgba(218, 218, 215, 0.91);
    text-align: center;
}
.footer .box-container .box .share a:hover{
    background-color: rgba(241, 162, 15, 0.901);
    color: white;
}









































/* media */
@media (max-width:1300px){
    .bg{
        background-position: center;
        background-attachment: fixed;
    }  
}
@media (max-width:1055px){
    html{
        font-size: 80%;
    }
    nav header .home {
        margin-left: 52px;
    }
    nav header .home .a{
        font-size: 11px;
    }
    nav .flex form input{
        display: inline;
        font-size: medium;
    }
    #home div{
        font-size: 35px;
        transition: 0.5s;
    }
    .products .product-slider{
        padding: 15px 50px;
        padding-bottom: 20px;
    }
    .review .reviews-slider{
        padding: 18px 50px;
    }
    .footer .box-container{
        padding: 0px 50px;}
}
@media (max-width:900px){
    html{
        scroll-padding-top: 0;
    }
    body{
        padding-bottom: 60px;
    }
    nav header .home .a{
        transition: 0.5s;
        display: none;
    }
    nav header .flex form input{
        width: 100%;
        font-size: medium;
    }
    .bottom-navbar{
        display: block;
        transition: 0.5s;
    }
    
    #search-btn{
        display:inline-block;
    }
    nav header .flex  {
        align-items: center;
        position: relative;
    }
    
    nav header .flex .search-form{
        position: absolute;
        top: -115%;
        right: 32px;
        width: 100%;
    }
    nav header .flex .search-form.active{
        top:115%;}
    .bg div{
        display: inline;
       text-align: center;
       width: 80%;
       margin-left: 40px;
    }
    .bg div p{
    font-size: 22px;
    }
    .bg div button{
        font-size:x-small;
        margin-left: -30px;
    }
    .bg div .btn1{
        margin-left: -60px;
    }
    .heading{
        font-size: 25px;
        padding: 15px 7%;
    }
    .heading span{
        font-size: 19px;
    }
    .features .box-container .box{
        width: 320px;
    }
    .newletter{
        background-position: left;
    }
    .newletter form{
        margin: 0;
        width: 100%;
    }
}
@media (max-width:500px){
    .products .product-slider .box img{
        height: 90px;
        width: 140px;
        transition: 0.3s;
    }
    .review .reviews-slider .box img{
        height: 120px;
        width: 180px;
        border-radius: 50%;
    }
}
