*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    scroll-behavior: smooth;
}
.contact{
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position:static;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.contact form{
    background-color:transparent;
    border: 1.5px solid rgba(16, 15, 15, 0.704);
    width: 400px;
    padding: 32px;
    box-shadow: 2px 15px 10px rgba(24, 24, 24, 0.771);
    border-radius: 15px;
    margin: 30px;
}
.contact div h3,h6{
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(250, 248, 248);
    text-align: center;
}
.contact div #arrow{
    font-size: 100px;
    padding: 20px;
    margin-left:150px ;
    text-transform: uppercase;
    text-align: center;
}
.contact form .box{
    width: 95%;
    margin: 12px 0;
    font-size: 16px;
    border: 1.5px solid rgba(16, 15, 15, 0.704);
    border-radius: 15px;
    padding: 12px 14px;
    color: rgba(21, 20, 20, 0.775);
    text-transform: none;
    background-color:rgba(255, 255, 255, 0.441);
}
.contact form .box:hover{
    background-color: rgba(250, 248, 245, 0.947);
}

.btn3{
    display: inline-block;
    padding: 12px 22px;
    border-radius: 8px;
    font-size: medium;
    cursor: pointer;
    margin-top: 10px;
    color: rgb(212, 214, 214);
    background: rgb(27, 2, 254);
    border: none;
    font-weight: 500;
    width: 95%;
}
.btn3:hover{
    background-color: rgba(59, 59, 206, 0.836);
    color: white;
}
.btn3:active{
    color: aliceblue;
    background-color: black;
}
body{
    background-image:url(../photo/silhouette-homme-pechant-plage-au-coucher-du-soleil.jpg);
    background-size: cover;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;

}
span {
    color: rgb(255, 157, 0);
}
.home{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top :-10px;
}
.home a{
    margin-top: -600px;
    color: rgb(105, 30, 30);
    text-decoration: none;
    color:rgb(229, 235, 228) ;
    background: rgba(99, 32, 32, 0.662);
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 14px;
}

@media (max-width:1300px){
    body{
        background-position: center;
        background-attachment: fixed;
    }  
}
