*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');
body{
    background-color: rgba(228, 232, 228, 0.873);
    padding: 20px 40px;
    
}


button {
    border: none;
    font-weight:400;
    border-radius: 14px;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
    text-transform: capitalize;
    background-color: rgb(23, 81, 241);
    color: white;
}
a{
    text-decoration: none;
    color:rgb(229, 235, 228) ;
    background: orange;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 14px;
}

.btn1{
    position: absolute;
    top:12px;
    right: 35px;
    padding: 10px 15px;
    background-color: rgb(171, 15, 15);
}
.btn1:hover{
    color: white;
    background-color: rgba(201, 75, 75, 0.849);
}

#btn{
    width: 100%;
    padding: 14px 8px;
    align-self:center;
}
#btn:hover{
    color: white;
    background-color: rgba(19, 19, 230, 0.902);
}
#btn:active{
    color: white;
    background-color: black;
}

button:hover{
    background-color: white;
    box-shadow:4px 4px 30px rgb(212, 211, 211);
}

.grid{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    margin:50px 90px;
    column-gap: 30px;
}
h1{
    margin-top: 30px;
   font-size: 45px;
   grid-column: span 3;
   text-align: center;
   color:rgba(255, 151, 6, 0.925) ;
   background-color: white;
   padding:24px;
   border-radius: 17px;
   box-shadow:4px 4px 30px rgb(212, 211, 211);
   
}
#form{
    background-color: white;
    padding:70px 16px;
    align-items: center;

    border-radius: 17px;
    box-shadow:4px 4px 30px rgb(212, 211, 211);
    display: flex;
    flex-direction: column;
    row-gap: 50px;
     
}
p{
    color: rgb(255, 145, 0);
    display:none;
    align-self: center;
}
input{

    border-radius: 10px;
    padding: 11px;
    border:rgb(31, 54, 28) ;
    border-style:solid;
    border-width: 3px;
    outline: none; 
    width: 90%;
    font-size: 20px;

}
#produit{
    grid-column: span 2;
    background: white;
    border-radius: 17px;
    box-shadow:4px 4px 30px rgb(212, 211, 211);
    margin-top: 0;

} 
#search-p{
    width:35%;
    display: flex;
    align-items: center;
    float: right;
    border-radius: 12px;
    border:2px solid rgba(20, 3, 82, 0.811);
    margin: 10px 15px;

}
#recherche{
    font-size: 15px;
    margin-right: 0;
    border: none;
}
table{
    text-transform: capitalize;
    width: 100%;
    display: table;
}
tr{
    margin-top: 0;
    font-size: 25px;
    
}
td{
    padding: 10px;
    color: black;
}
.td{
    color: rgba(165, 42, 42, 0.882);
    text-align: center;
}