*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    scroll-behavior: smooth;
}
.login{
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position:static;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.login.active{
    right:0;
    transition: 0.5s;
}
.login form{
    background-color: transparent;
    border: 1.5px solid rgba(16, 15, 15, 0.704);
    width: 400px;
    padding: 32px;
    box-shadow: 2px 15px 10px rgba(24, 24, 24, 0.771);
    border-radius: 15px;
    margin: 30px;
}
.login form .err{
    text-align: center;
    padding-top: 10px;
    color: red;
    font-size: 14px;
    display: none;
    
}
.login form h3{
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(18, 17, 17);
    text-align: center;
}
.login form span{
    display: block;
    font-size: 20px;
    padding-top: 15px;
}
.login form .box{
    width: 95%;
    margin: 12px 0;
    font-size: 16px;
    border: 1.5px solid rgba(16, 15, 15, 0.704);
    border-radius: 15px;
    padding: 12px 14px;
    color: rgba(21, 20, 20, 0.775);
    text-transform: none;
    background-color:rgba(255, 255, 255, 0.441);
}
.login form .box:hover{
    background-color: rgba(250, 248, 245, 0.947);
}

.login form .checkbox{
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 10px 0;
}
.login form .checkbox label{
    color: rgba(23, 22, 22, 0.915);
    cursor: pointer;
}
.btn3{
    display: inline-block;
    padding: 12px 22px;
    border-radius: 8px;
    font-size: medium;
    cursor: pointer;
    color: rgb(212, 214, 214);
    background: rgb(27, 2, 254);
    border: none;
    font-weight: 500;
    width: 95%;
}
.btn3:hover{
    background-color: rgba(59, 59, 206, 0.836);
    color: white;
}
.btn3:active{
    color: aliceblue;
    background-color: black;
}
body{
    background-image:url(../photo/pecheur-jetee-attraper-du-poisson-pendant-belle-journee-ensoleillee.jpg);
    background-size: cover;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
span {
    color: rgb(255, 157, 0);
}

@media (max-width:1300px){
    body{
        background-position: center;
        background-attachment: fixed;
    }  
}
